{% extends "portal-layout.html" %}
{% block content %}
    <h3 class="mt-2 ml-2 main-header">
        Biografie Toma Waitsa
    </h3>

    <div>
        <blockquote>
            <h4>
                „Jak się chce wkurzyć Toma Waitsa, wystarczy zacząć węszyć”
            </h4>
        </blockquote>
        <pre>
J.S. Jacobs, Dzikie Lata. Muzyka i mit Toma Waitsa, przeł. J. Rybski
        </pre>
    </div>
    <div class="card card col-lg-4 d-lg-block" style="padding: 0">
        <div class="card-header">
            Spis treści
        </div>
        <ul style="margin-top: 0;">
            <li>
                <a href="#paradise_alley">Paradise Alley (1978)</a>
            </li>
            <li>
                <a href="#one_from_the_heart">Ten od serca (1982)</a>
            </li>
            <li>
                <a href="#wolfen">The Wolfen (1981)</a>
            </li>
            <li>
                <a href="#paradise_alley">Paradise Alley (1978)</a>
            </li>
            <li>
                <a href="#cotton_club">The Cotton Club (1984)</a>
            </li>
            <li>
                <a href="#down_by_law">Poza prawem (1981)</a>
            </li>
            <li>
                <a href="#shortcuts">Na skróty (1993)</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#filmography">Pełna filmografia</a>
            </li>
        </ul>
    </div>
    <h4>
        Biografie w języku polskim:
    </h4>
    <!-- Inner -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a name="wild_years"></a>
                <div class="card">
                    <img
                            src="https://cdn-lubimyczytac.pl/upload/books/49000/49949/352x500.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://cdn-lubimyczytac.pl/upload/books/49000/49949/352x500.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Dzikie lata. Muzyka i mit Toma Waitsa</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b class="card-title">
                                Autor — Jacobs Jay S.
                            </b><br>
                            <b class="card-title">
                                Przełożył — Jarosław Rybski
                            </b><br>
                            <b class="card-title">
                                Tytuł oryginału — Wild Years: The Music and Myth of Tom Waits
                            </b><br>
                            <br>
                        </p>
                        <button id="content-btn-1" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-1">
                            <p style="margin-bottom: 0">
                                &nbsp;<b>
                                &nbsp;Nota wydawcy:
                            </b>
                                <br>
                                Najlepsza i najbardziej aktualna biografia legendarnego twórcy rocka progresywnego i
                                multiinstrumentalisty, opatrzona kompletną dyskografią artysty i jego fotografiami.
                                Przewodnik dla fanów oraz wszystkich tych, którzy chcą zgłębić tematykę twórczości
                                muzycznej, poetyckiej i poznać szczegóły z życia prywatnego i filmowego tej mitycznej
                                już postaci. Autor interesująco (obficie cytując anegdoty i wypowiedzi Waitsa) ukazał
                                człowieka, który żył pełnią życia, nie stroniąc od alkoholu i narkotyków, lecz przeszedł
                                niemalże hollywoodzką zmianę dzięki miłości i rodzinie. Jest to powieść o beatniku,
                                który ucieleśnił amerykańskie marzenie o poecie-wędrowcu i który mimo swoich
                                artystycznych póz chciał być blisko zwykłych ludzi. Ten nieco nostalgiczny wizerunek
                                romantycznego barda jest wpisany w kontekst kultury i sztuki amerykańskiej lat 70. i 80.
                                i 90., aż po początek nowego wieku.
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-lg-block">
                <a name="one_from_the_heart"></a>
                <div class="card">
                    <img
                            src="https://cdn-lubimyczytac.pl/upload/books/4925000/4925574/811909-352x500.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://cdn-lubimyczytac.pl/upload/books/4925000/4925574/811909-352x500.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">W Koloseum. O Tomie Waitsie)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Autor — Tomasz Rabsztyn
                            </b><br><br>
                        </p>
                        <button id="content-btn-2" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-2">
                            <b>
                                Nota wydawcy:
                            </b>
                            <br>
                            Historia Toma Waitsa pełna jest wzlotów i upadków, arcydzieł i przełomowych, wybitnych
                            utworów z jednej strony, chybionych, nieudanych projektów z drugiej; płyt oraz filmów z
                            punktu widzenia recenzenckiego, krytycznego czasem po prostu dobrych, czasem złych, a czasem
                            może i brzydkich – lecz z perspektywy szerszej, kulturoznawczej, tak czy inaczej zawsze
                            chyba mówiących coś ważnego, tym samym zaś wartych obejrzenia bądź przesłuchania. Nie tylko
                            bowiem – jak przekonuje nas sam Tom Waits – „piękne melodie opowiadają okropne historie”,
                            bywa i na odwrót: okropnym melodiom mogą towarzyszyć piękne historie
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-lg-block">
                <a name="wolfen"></a>
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/a/a0/Wolfen_1981.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://en.wikipedia.org/wiki/File:Wolfen_1981.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">The Wolfen (1981)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Reżyseria — Michael Wadleigh
                            </b><br><br>
                        </p>
                        <button id="content-btn-3" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-3">
                            <p>
                                <b>
                                    &nbsp;Udział Waitsa:
                                </b><br>
                                - epizodyczna postać zapijaczonego, nerwowego pianisty.
                            </p>
                            <b>&nbsp;O filmie:</b>
                            <p><em>The Wolfen </em>(<em>Wilkołaki</em>) jest wysokobudżetowym horrorem,
                                którego akcja dzieje się w zaniedbanej dzielnicy Nowego Jorku.
                            </p>
                        </div>
                        <a href="https://en.wikipedia.org/wiki/Wolfen_(film)"
                           class="btn btn-movie-link btn-primary-dark">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-lg-block">
                <a name="cotton_club"></a>
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/0/0b/Cotton_club.jpg"
                            class="card-img-top"
                            alt="..."/>
                    <pre>
Źródło - https://en.wikipedia.org/wiki/File:Cotton_club.jpg</pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">The Cotton Club (1984)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Reżyseria — Francis Ford Coppola
                            </b><br><br>
                        </p>
                        <button id="content-btn-4" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-4">
                            <p>
                                <b>
                                    &nbsp;Udział Waitsa:
                                </b><br>
                                — epizodyczna rola Irvinga Starka — eleganckiego menedżera klubu.
                            </p>
                            <b>&nbsp;O filmie:</b>
                            <p><em>The Cotton Club</em> jest dramatem, którego akcja rozgrywa się w Harlemie lat
                                30—tych.
                                Centralnym punktem
                                akcji jest legendarny <em>Cotton Club</em> — miejsce gdzie czarnoskórzy artyści mogą się
                                zaprezentować na scenie.
                                W tym obrazie wszechobecny jazz przeplata się z gangnsterskim życiem. Główny bohater —
                                trębacz w
                                kapelach jazzowych — ratuje życie
                                mafiozowi. Wplątuje go to w historię kryminalną i cały szereg kłopotów.
                            </p>
                            &nbsp;<b>Pomiędzy rasizmem a muzyką</b>
                            <p>
                                Sam Irving Stark — postać grana przez Waitsa — jest menedżerem tytułowego klubu.
                                Do zadań Irvinga należy zatrudnianie artystów — w większości czarnych muzyków.
                                <br>
                                Bohater bardzo docenia umiejętności swoich pracowników. Rozumie i docenia ich pasję.
                                Reprezentuje jednak ewidntnie interesy właścicieli klubu, do którego, przynajmniej
                                początkowo, wstęp mają jedynie biali goście.
                                <br>
                                Waitsowski Irving, choć pewny siebie i wyglądający na
                                człowieka
                                sukcesu, zostaje rozdarty. Sytuuje się między działaniem dwóch sprzecznych dla owych
                                czasów sił.
                                Pierwszą z nich był zachwyt nad talentem i umiejętnościami czarnych wykonawców,
                                drugą — wciąż żywy i wręcz oficjalny — rasizm.
                            </p>
                        </div>
                        <a href="https://pl.wikipedia.org/wiki/Cotton_Club_(film)"
                           class="btn btn-movie-link btn-primary-dark">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 d-lg-block">
                <a name="down_by_law"></a>
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/0/0d/Down_by_Law_%281986_film%29_poster.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło — https://en.wikipedia.org/wiki/File:Down_by_Law_(1986_film)_poster.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Poza prawem (1981)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Reżyseria — Jim Jarmusch
                            </b><br><br>
                        </p>
                        <button id="content-btn-5" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-5">
                            <p style="margin-bottom: 0;">
                                <b>
                                    &nbsp;Udział Waitsa:
                                </b><br>
                                - epizodyczna postać zapijaczonego, nerwowego pianisty,
                                <br>
                                - w filmie wykorzystano dwie piosenki Toma Waitsa z albumu Rain Dogs:
                            </p>
                            <ul style="margin-top: 0;">
                                <li>
                                    <em>Jockey Full of Bourbon</em>
                                </li>
                                <li>
                                    <em>Tango Till They're Sore</em>
                                </li>
                            </ul>

                            <b>&nbsp;O filmie:</b>
                            <p style="margin-bottom: 0;"><em>Poza prawem </em>(ang. <em>Down by Law</em>) jest
                                wypowiedzią Jarmuscha na temat
                                przestępczości.
                                W więziennej celi spotyka się trzech ludzi, z których każdy jest jednocześnie winny i
                                niewinny zarazem.
                                <br>Każdemu z tej trójki szczęście wyjątkowo niedopisało:
                            <ul style="margin-top: 0;">
                                <li>
                                    Jack (John Lurie) — Drobny alfons. Został wrobiony w stręczycielstwo nieletniej
                                    przez
                                    kolegę po fachu.
                                </li>
                                <li>
                                    Zack (Tom Waits) — bezrobotny didżej radiowy. Daje się namówić znajomemu na
                                    podejrzany
                                    interes.
                                    Kiedy zatrzymuje go policja, znajduje w jego bagażniku zwłoki.
                                </li>
                                <li>
                                    Roberto (Roberto Bengini) — energiczny i sympatyczny Włoch. Do celi trafił za
                                    zabójstwo.
                                    Utrzymuje,
                                    że zabójstwa dokonał kulą bilardową. Uciekając przed przed zemstą oszukanych
                                    współgraczy
                                    — trafił jednego z nich w głowę.
                                    <br>
                                    Od początku jest najbardziej rozmowny z całej trójki (pomimo minimalnej znajomości
                                    angielskiego).
                                    Jest autorem planu ucieczki z więzienia.
                                </li>
                            </ul>
                            </p>
                            <b>Niejednoznaczność zbrodni</b>
                            <p>
                                <em>Poza prawem</em> stanowi prawdopodobnie najciekawszą wypowiedź filmową na temat
                                prawa i
                                przestępczości, w której
                                udział wziął Tom Waits. Postaci nie są typowymi przestępcami. Wpadają nieoczekiwanie w
                                ciąg
                                perypetii rozwijających się niezależnie od ich intencji.
                            </p>
                            <div>
                                Jan Malec w swojej książce <em>Przestępcość — to ciekawe zjawisko. Kryminologia
                                nieelitarna</em> przywołuje
                                słowa jednego z proesorów prawa, który tak rozpoczynał swoje wykłady:
                                <blockquote>„Będę opowiadał wam o kodeksie karnym, czyli książce dla pechowców.
                                    Przestępcą
                                    bowiem nie jest ten kto
                                    popełnił przestępstwo, ale ten kogo na tym złapano. Natomiast łapie się niewielu."
                                </blockquote>
                            </div>
                        </div>
                        <a href="https://pl.wikipedia.org/wiki/Poza_prawem_(film_1986)"
                           class="btn btn-movie-link btn-primary-dark">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-lg-block">
                <a name="shortcuts"></a>
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/7/74/Shortcutsfilm.jpg"
                            class="card-img-top"
                            alt="..."/>
                    <pre>
Źródło - https://en.wikipedia.org/wiki/File:Shortcutsfilm.jpg</pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Na skróty (1993)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Reżyseria — Robert Altman
                            </b><br><br>
                        </p>
                        <button id="content-btn-6" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-6">
                            <p>
                                <b>
                                    &nbsp;Udział Waitsa:
                                </b><br>
                                - wcielił się w postać Earla Piggota, kierowcę limuzyn mającego problemy z alkoholem.
                            </p>
                            <b>&nbsp;O filmie:</b>
                            <p><em>Na skróty</em>(ang. <em>Short Cuts</em>) film zrealizowano na podstawie opowiadań
                                Raymonda Carvera.
                                <br>
                                Film nie posiada tradycyjnej fabuły. W zasadzie nie posiada też mocniej zaznaczonego
                                poczatku i finału.
                                Fabuła została za to zamknięta w intrygującą klamrę. Zarówno początek i koniec dzieła
                                mają
                                zabarwienie "apokaliptyczne". Pierwsza scena przedstawia inwazję gigantycznych owadów, a
                                jedna z
                                ostatnich - trzęsienie ziemi.
                            </p>
                            <b>(Nie)zwykłe historie</b>
                            <p>
                                Akcja w <em>Na skróty</em> została podzielona na wiele pomniejszych historii. A tych
                                jest w filmie sporo.
                                Losy ich bohaterów nieustannie przeplatają się ze sobą na różne sposoby. Widz obserwując
                                dany wątek, znajduje
                                się jednocześnie pomiędzy dwoma innymi.
                            </p>
                            <p>
                                Każda opowieść stanowi obrazek z życia zwykłych ludzi. Jest celną obyczajową miniaturą.
                                Podobnie jak piosenki Waitsa.
                            </p>
                            <b>Wśród gwiazd</b>
                            <div>
                                Na planie <em>Na skróty</em> Waits miał okazję pracować obok takich sław jak, m.in.:
                                <ul style="margin-top: 0;">
                                    <li>
                                        Robert Downey Jr.,
                                    </li>
                                    <li>
                                        Jack Lemmon,
                                    </li>
                                    <li>
                                        Julianne Moore,
                                    </li>
                                    <li>
                                        Andie MacDowell,
                                    </li>
                                    <li>
                                        Tim Robbins,
                                    </li>
                                    <li>
                                        Jennifer Jason Leigh.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="https://pl.wikipedia.org/wiki/Cotton_Club_(film)"
                           class="btn btn-movie-link btn-primary-dark">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="padding: 0; width: 100%">
        <a name="filmography"></a>
        <div id="filmography-toggle" class="card-header header-btn">
            Pełna filmografia
        </div>
        <ul id="filmography-list">
            <li>Paradise Alley (1978), jako Mumbles</li>
            <li>Wolfen (1981), jako Pijany Właściciel Baru</li>
            <li>One from the Heart (1982), jako Trębacz</li>
            <li>The Outsiders (1983), jako Buck Merrill</li>
            <li>Rumble Fish (1983), jako Benny
            <li>The Stone Boy (1984), statysta
            <li>The Cotton Club (1984), jako Irving Stark</li>
            <li> Down by Law (1986), jako Zach</li>
            <li> Ironweed (1987), jako Rudy</li>
            <li> Greasy Lake (1988), jako Narrator
            <li>Candy Mountain (1988), jako Al Silk
            <li>Big Time (1988), jako On Sam</li>
            <li> Bearskin: An Urban Fairytale (1989), jako Silva
            <li>Cold Feet (1989), jako Kenny
            <li>Mystery Train (1989), głos didżeja radiowego</li>
            <li> The Two Jakes (1990), jako policjant w cywilu</li>
            <li> At Play in the Fields of the Lord (1991), jako Wolf
            <li>The Fisher King (1991), jako Disabled Veteran
            <li>Queens Logic (1991), jako Monte
            <li>Night on Earth (1991), stworzył muzykę do filmu</li>
            <li> Bram Stoker's Dracula (1992), jako R.M. Renfield
            <li> Short Cuts (1993), jako Earl Piggot
            <li> Mystery Men (1999), Doc Heller
            <li> The Last Castle (2001), wspólnie z Jerrym Goldsmithem stworzył muzykę do filmu
            <li> Coffee and Cigarettes (2003), jako On sam
            <li> Domino (2005), jako Zmotoryzowany Kaznodzieja
            <li>The Tiger and the Snow (2005), jako On sam
            <li> Wristcutters: A Love Story (2006), jako Kneller
            <li> The Imaginarium of Doctor Parnassus (2009), jako Mr. Nick
            <li> The Book of Eli (2010), jako Inżynier
            <li> The Monster of Nix (2011), jako Virgil
            <li>Twixt (2011), jako Narrator
            <li> Seven Psychopaths (2012), jako Zachariah
            <li> The Simpsons (2013), jako Lloyd (głos)
            <li> The Ballad of Buster Scruggs (2018), jako Poszukiwacz Złota
            <li>The Old Man & the Gun (2018), jako Waller
            <li> The Dead Don't Die (2019), jako Hermit Bob
        </ul>
    </div>
    <script src="static/js/script.js" type="text/javascript"></script>

{% endblock content %}
