{% extends "portal-layout.html" %}
{% block content %}
    <h3 class="mt-2 ml-2 main-header">
        Biografie Toma Waitsa
    </h3>

    <div>
        <blockquote>
            <h4>
                „Jak się chce wkurzyć Toma Waitsa, wystarczy zacząć węszyć”
            </h4>
        </blockquote>
        <pre>
J.S. Jacobs, Dzikie Lata. Muzyka i mit Toma Waitsa, przeł. J. Rybski
        </pre>
    </div>
    <div class="card card col-lg-4 d-lg-block" style="padding: 0">
        <div class="card-header">
            Spis treści
        </div>
        <ul style="margin-top: 0;">
            <li><a href="#polish_books">
                Biografie w języku polskim
            </a>
                <ul>
                    <li>
                        <a href="#wild_years">Dzikie lata. Muzyka i mit Toma Waitsa</a>
                    </li>
                    <li>
                        <a href="#in_the_coloseum">W Koloseum. O Tomie Waitsie</a>
                    </li>
                    <li>
                        <a href="#lowside_of_road">Tom Waits. Życie na poboczu</a>
                    </li>
                    <li>
                        <a href="#small_change">Tom Waits. To fortepian jest pijany, nie ja...</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#books_english">Książki w języku angielskim</a>
            </li>
        </ul>
    </div>
    <h4>
        <a name="polish_books"></a>
        Biografie w języku polskim:
    </h4>
    <!-- Inner -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a name="wild_years"></a>
                <div class="card">
                    <img
                            src="https://cdn-lubimyczytac.pl/upload/books/49000/49949/352x500.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://cdn-lubimyczytac.pl/upload/books/49000/49949/352x500.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Dzikie lata. Muzyka i mit Toma Waitsa</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b class="card-title">
                                Autor — Jacobs Jay S.
                            </b><br>
                            <b class="card-title">
                                Przełożył — Jarosław Rybski
                            </b><br>
                            <br>
                        </p>
                        <button id="content-btn-1" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-1">
                            <b>&nbspDodatkowe informacje:</b>
                            <ul style="margin-top: 0">
                                <li>
                                    Tytuł oryginału — Wild Years: The Music and Myth of Tom Waits
                                </li>
                                <li>
                                    Data wydania — 2000
                                </li>
                                <li>
                                    Data 1. wyd. pol. — 2006
                                </li>
                            </ul>
                            <b>&nbsp;Nota wydawcy:</b>
                            <br>
                            Najlepsza i najbardziej aktualna biografia legendarnego twórcy rocka progresywnego i
                            multiinstrumentalisty, opatrzona kompletną dyskografią artysty i jego fotografiami.
                            Przewodnik dla fanów oraz wszystkich tych, którzy chcą zgłębić tematykę twórczości
                            muzycznej, poetyckiej i poznać szczegóły z życia prywatnego i filmowego tej
                            mitycznej
                            już postaci. Autor interesująco (obficie cytując anegdoty i wypowiedzi Waitsa)
                            ukazał
                            człowieka, który żył pełnią życia, nie stroniąc od alkoholu i narkotyków, lecz
                            przeszedł
                            niemalże hollywoodzką zmianę dzięki miłości i rodzinie. Jest to powieść o beatniku,
                            który ucieleśnił amerykańskie marzenie o poecie-wędrowcu i który mimo swoich
                            artystycznych póz chciał być blisko zwykłych ludzi. Ten nieco nostalgiczny wizerunek
                            romantycznego barda jest wpisany w kontekst kultury i sztuki amerykańskiej lat 70. i
                            80.
                            i 90., aż po początek nowego wieku.
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-lg-block">
                <a name="in_the_coloseum"></a>
                <div class="card">
                    <img
                            src="https://cdn-lubimyczytac.pl/upload/books/4925000/4925574/811909-352x500.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://cdn-lubimyczytac.pl/upload/books/4925000/4925574/811909-352x500.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">W Koloseum. O Tomie Waitsie</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b class="card-title">
                                Autor — Tomasz Rabsztyn
                            </b><br>
                        </p>
                        <button id="content-btn-2" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-2">
                            <b>&nbspDodatkowe informacje:</b>
                            <ul style="margin-top: 0">
                                <li>
                                    Data wydania — 2020-03-09
                                </li>
                            </ul>
                            <b>&nbsp;Nota wydawcy:</b>
                            <br>
                            Historia Toma Waitsa pełna jest wzlotów i upadków, arcydzieł i przełomowych, wybitnych
                            utworów z jednej strony, chybionych, nieudanych projektów z drugiej; płyt oraz filmów z
                            punktu widzenia recenzenckiego, krytycznego czasem po prostu dobrych, czasem złych, a czasem
                            może i brzydkich – lecz z perspektywy szerszej, kulturoznawczej, tak czy inaczej zawsze
                            chyba mówiących coś ważnego, tym samym zaś wartych obejrzenia bądź przesłuchania. Nie tylko
                            bowiem – jak przekonuje nas sam Tom Waits – „piękne melodie opowiadają okropne historie”,
                            bywa i na odwrót: okropnym melodiom mogą towarzyszyć piękne historie
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a name="lowside_of_road"></a>
                <div class="card">
                    <img
                            src="https://cdn-lubimyczytac.pl/upload/books/4969000/4969528/902460-352x500.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://cdn-lubimyczytac.pl/upload/books/4969000/4969528/902460-352x500.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Tom Waits. Życie na poboczu</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b class="card-title">
                                Autor — Barney Hoskyns
                            </b><br>
                            <b class="card-title">
                                Przełożył — Filip Łobodziński
                            </b><br>
                            <br>
                        </p>
                        <button id="content-btn-3" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-3">
                            <b>&nbspDodatkowe informacje:</b>
                            <ul style="margin-top: 0">
                                <li>
                                    Tytuł oryginału — Lowside of the Road: A Life of Tom Waits
                                </li>
                                <li>
                                    Data wydania — 2009-11
                                </li>
                                <li>
                                    Data 1. wyd. pol. — 2019-02-07
                                </li>
                            </ul>
                            <b>&nbsp;Nota wydawcy:</b>
                            <br>
                            To nie jest zwykła biografia artysty.<br>
                            To jest biografia postaci, którą artysta stworzył.<br>
                            <p>
                                Różnica jest bardzo ważna. Jakże często spotkać można bowiem fanów Toma Waitsa, którzy
                                twierdzą, że go „rozumieją”. Że gdyby mieli szansę się z nim spotkać, on najchętniej
                                wybrałby jakąś spelunę, szrot czy lupanar. Nic bardziej błędnego.
                            </p>

                            <p>
                                Bohaterami tej książki są bowiem Tom Waits i „Tom Waits”. Ten drugi to postać, która ma
                                w Polsce ogromne rzesze wielbicieli i znawców twórczości. Ten pierwszy to mistrz
                                marionetek, poruszający tym drugim, sterujący masową wyobraźnią, prawdziwy twórca nie
                                tylko piosenek i kreacji filmowych, ale też „Toma Waitsa”.
                            </p>
                            <p>
                                Oprócz samego Waitsa spotkamy tu niemal wszystkich muzyków, jacy kiedykolwiek
                                skrzyżowali z nim drogi, a także przyjaciół, byłe dziewczyny, reżyserów filmowych,
                                rekiny i płotki branży płytowej. Przyjrzymy się nie tylko artyście, jego środowisku i
                                poglądom, ale także wielkiemu obrońcy praw autorskich i wykonawczych. Bo z Tomem Waitsem
                                bardzo dobrze jest zacząć partnerstwo muzyczne, ale nie wolno zaczynać łamać jego praw.
                                Jest równie bezkompromisowy jako twórca, co jako powód w sądzie.
                            </p>
                            <p>
                                Barney Hoskyns wielokrotnie rozmawiał z Waitsem, śledził niezwykle skrupulatnie jego
                                drogę artystyczną i zbierał materiały. Plon tych dociekań, rozmów i poszukiwań zawarł w
                                wydanej w 2008 roku książce, której przekład trafia do Państwa rąk. Książce, której sam
                                Tom Waits błogosławieństwa nie udzielił – to biografia nieautoryzowana. Ale dzięki temu
                                paradoksalnie jest ona bliższa prawdy, niż gdyby jej bohater nadzorował zawartość. Bo on
                                sam jest osobą nietuzinkową, wielowymiarową, niejednoznaczną.
                            </p>
                            I z pewnością jeszcze niejeden raz nas zaskoczy.
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-lg-block">
                <a name="small_change"></a>
                <div class="card">
                    <img
                            src="https://cdn-lubimyczytac.pl/upload/books/89000/89552/352x500.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://cdn-lubimyczytac.pl/upload/books/89000/89552/352x500.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Tom Waits. To fortepian jest pijany, nie
                            ja...</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b class="card-title">
                                Autor — Patrick Humphries
                            </b><br>
                            <b class="card-title">
                                Przełożył — Wojciech Sokołowski
                            </b><br>
                            <br>
                        </p>
                        <button id="content-btn-4" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-4">
                            <b>&nbspDodatkowe informacje:</b>
                            <ul style="margin-top: 0">
                                <li>
                                    Tytuł oryginału — Small Change. A Life of Tom Waits
                                </li>
                                <li>
                                    Data wydania — 1990-09-15
                                </li>
                                <li>
                                    Data 1. wyd. pol. — 1995
                                </li>
                            </ul>
                            <b>&nbsp;Nota wydawcy:</b>
                            <br>
                            Po nagraniu 15 płyt, wystąpieniu w ponad 20 filmach i przedstawieniu więcej niż 1000
                            koncertów na całym świecie, Tom Waits stał się kultowym fenomenem, stojącym w sprzeczności z
                            ogólnie panującymi trendami w muzyce rockowej i - co może jeszcze ważniejsze - stał się
                            twórcą, którego inni artyści darzą najwyższym szacunkiem.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card" style="padding: 0; width: 100%">
        <a name="books_english"></a>
        <div id="filmography-toggle" class="card-header header-btn">
            Książki w języku angielskim
        </div>
        <ul id="filmography-list">
            <li>The Lyrics of Tom Waits 1971-1982: The Early Years, autor — Tom Waits</li>
            <li>Tom Waits by Matt Mahurin, autor — Matt Mahurin</li>
            <li>Lowside of the Road: A Life of Tom Waits, autor — Barney Hoskyns</li>
            <li>Tom Waits - Beautiful Maladies: P/V/G Folio, autor — Tom Waits</li>
            <li>The Words and Music of Tom Waits, autor — Kessel Corinne</li>
            <li>Many Lives Of Tom Waits, autor — Patrick Humphries</li>
            <li>Small Change: A Life of Tom Waits, autor — Patrick Humphries</li>
            <li>Wild Years: The Music and Myth of Tom Waits, autor —  Jay S. Jacobs</li>
            <li>Tom Waits on Tom Waits: Interviews and Encounters, autor — Paul Maher Jr.</li>
            <li>om Waits's Swordfishtrombones, autor — Smay D.</li>
        </ul>
    </div>
    <script src="static/js/script.js" type="text/javascript"></script>

{% endblock content %}
