{% extends "forum-layout.html" %}
{% block content %}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>

    <div class="content-section">
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.topic.label(class="form-control-label") }}
                    {% if form.topic.errors %}
                        {{ form.topic(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.topic.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.topic(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid", name="description", id="description") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <script>
                    CKEDITOR.replace('description');
                </script>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn bg-dark responsive-full text-white mb-2">Zapisz</button>
                {% if thread_id is not defined %}
                    <a href="{{ url_for('user_activity.threads') }}"
                       class="btn bg-dark text-white responsive-full mb-2">
                        Lista wątków</a>
                {% else %}
                    <a href="{{ url_for('user_activity.thread', thread_id=thread_id) }}"
                       class="btn bg-dark text-white responsive-full mb-2">
                        Powrót</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}
