{% extends "forum-layout.html" %}
{% block content %}
    <div id="colage">
        <img class="forum_img instruction_img"
             src="{{ url_for('static', filename="images/3619810051_02c3dbe30d_e.jpg") }}">
        <img class="forum_img instruction_img"
             src="{{ url_for('static', filename="images/3619810751_5a91292856_e.jpg") }}">
        <br class="full-none">
        <img class="forum_img instruction_img"
             src="{{ url_for('static', filename="images/3620628636_4519558c9d_e.jpg") }}">
        <img class="forum_img instruction_img"
             src="{{ url_for('static', filename="images/3620628766_a92f1584b4_e.jpg") }}">
    </div>
    <div class="card">
        <div class="card-header">
            Ostatnia aktywność
        </div>
        <div class="card-body">
            <table class="table hide-mobile">
                <thead class="thead-primary">
                <tr>
                    <th scope="col">Dodano</th>
                    <th scope="col">Przez</th>
                    <th scope="col">Temat</th>
                    <th scope="col" class="hide-mobile">Odpowiedzi</th>
                    <th scope="col" class="hide-mobile">Ostatnia aktualizacja</th>
                </tr>
                </thead>
                <tbody>
                {% for thread in threads %}
                    <tr>
                        <td>{{ thread.date_posted.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>
                            <a class="mr-2 grey-link"
                               href="{{ url_for("user_activity.user_actions", username=thread.author.username) }}">{{ thread.author.username }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('user_activity.thread', thread_id=thread.id) }}" class="grey-link">
                                {{ thread.topic }}
                            </a>
                        </td>
                        <td>{{ thread.threads|length }}</td>
                        {% if thread.threads|length > 0 and thread.threads[thread.threads|length-1].date_posted > thread.date_last_update %}
                            <td>{{ thread.threads[thread.threads|length-1].date_posted.strftime('%Y-%m-%d %H:%M') }}</td>
                        {% else %}
                            <td>{{ thread.date_last_update.strftime('%Y-%m-%d %H:%M') }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="elements-table">
                {% for thread in threads %}
                    <div class="table-row">
                        <div class="table-cell">
                            Dodano:
                            <div style="display: inline-block">{{ thread.date_posted.strftime('%Y-%m-%d %H:%M') }}</div>
                            <br>
                            Przez: <a class="mr-2 grey-link"
                                      href="{{ url_for("user_activity.user_actions", username=thread.author.username) }}">{{ thread.author.username }}
                        </a>
                        </div>
                        <div class="table-cell">
                            Temat:
                            <a href="{{ url_for('user_activity.thread', thread_id=thread.id) }}"
                               class="grey-link">
                                {{ thread.topic }}
                            </a><br>
                            Odpowiedzi: {{ thread.threads|length }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a href="{{ url_for("user_activity.threads") }}"
               class="btn bg-dark text-white responsive-full responsive-marg-6">Zobacz wszystkie wątki</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for("user_activity.new_thread") }}" class="btn bg-dark text-white responsive-full">
                    <svg xmlns="url_for('static', filename='/images/plus-circle.svg/')" width="20" height="20"
                         fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    Rozpocznij nowy wątek
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Ostatnio dodane utwory
        </div>
        {% if current_user.is_authenticated %}
            <div class="card-body">
                <table class="table hide-mobile">
                    <thead class="thead-primary">
                    <tr>
                        <th scope="col">Dodano</th>
                        <th scope="col" class="hide-mobile">Przez</th>
                        <th scope="col">Albumy</th>

                        <th scope="col">Tytuł</th>
                        <th scope="col" class="hide-mobile">Ostatnia aktualizacja</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for track in tracks %}
                        <tr>
                            <td>{{ track.date_posted.strftime('%Y-%m-%d %H:%M') }}</td>
                            <td class="hide-mobile">
                                <a class="grey-link"
                                   href="{{ url_for("user_activity.user_actions", username=track.author.username) }}">
                                    {{ track.author.username }}
                                </a>
                            </td>

                            <td>
                                {% for album in track.albums %}
                                    {% if loop.index < track.albums|length %}
                                        {{ album.title }},
                                    {% else %}
                                        {{ album.title }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ url_for('user_activity.track', track_id=track.id) }}" class="grey-link">
                                    {{ track.title }}
                                </a>
                            </td>
                            {% if track.comments|length > 0 and track.comments[track.comments|length-1].date_posted > track.date_last_update %}
                                <td class="hide-mobile">{{ track.comments[track.comments|length-1].date_posted.strftime('%Y-%m-%d %H:%M') }}</td>
                            {% else %}
                                <td class="hide-mobile">{{ track.date_last_update.strftime('%Y-%m-%d %H:%M') }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="elements-table">
                    {% for track in tracks %}
                        <div class="table-row">
                            <div class="table-cell">
                                Dodano:
                                <div style="display: inline-block">{{ track.date_posted.strftime('%Y-%m-%d %H:%M') }}</div>
                                <br>
                                Przez: <a class="mr-2 grey-link"
                                          href="{{ url_for("user_activity.user_actions", username=track.author.username) }}">{{ track.author.username }}
                            </a>
                            </div>
                            <div class="table-cell">
                                Tytuł:
                                <a href="{{ url_for('user_activity.track', track_id=track.id) }}"
                                   class="grey-link">
                                    {{ track.title }}
                                </a><br>
                                Albumy:
                                {% for album in track.albums %}
                                    {% if loop.index < track.albums|length %}
                                        {{ album.title }},
                                    {% else %}
                                        {{ album.title }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ url_for("user_activity.tracks") }}"
                   class="btn bg-dark text-white responsive-full responsive-marg-6">Zobacz wszystkie utwory</a>
                <a href="{{ url_for("user_activity.new_track") }}" class="btn bg-dark text-white responsive-full">
                    <svg xmlns="url_for('static', filename='/images/plus-circle.svg/')" width="20" height="20"
                         fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    Dodaj nowy utwór
                </a>
            </div>
        {% else %}
            <div class="card-body">
                <h5 class="card-title">Dyskusje o utworach</h5>
                <p class="card-text"><a href="{{ url_for("users.login") }}" class="grey-link">Zaloguj się</a> lub <a
                        class="grey-link" href="{{ url_for("users.register") }}">zarejestruj</a>, żeby brać udział w
                    dyskusjach.</p>
            </div>
        {% endif %}
    </div>
    <div class="image-view">
        <img id="big-image" src="" alt="image_bigger_view">
        <div class="image-view-description">
            <h3>Autor - Anton Corbijn</h3>
            <h4>Źródło - <a class="grey-link" href="http://www.tomwaits.com/">tomwaits.com</a></h4>
        </div>
    </div>
    <script>
        $(".instruction_img").click(function () {
            var src = $(this).attr("src");
            $(".image-view").show();
            $("#big-image").attr("src", src);
        });
        $(".image-view").click(function () {
            $(".image-view").hide();
        });
    </script>
{% endblock content %}
