{% extends "portal-layout.html" %}
{% block content %}
    <h3 class="mt-2 ml-2 main-header">
        Życiorys Toma Waitsa
    </h3>
    <div class="one-img">
        <div class="left-side-image-young">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Tom_Waits_%281968_yearbook_senior_portrait%29.jpg"
                 alt="Tom Waits by Michael O'Brien">
            <pre>Źródło - https://commons.wikimedia.org/wiki/File:Tom_Waits_(1968_yearbook_senior_portrait).jpg</pre>
        </div>
        <div class="quote">
            <blockquote class="about-quote">
                <h4>
                    „Urodziłem się w bardzo młodym wieku na tylnej kanapie żółtej taksówki…”
                </h4>
            </blockquote>
            <pre>
Tom Waits - <a href="http://www.tomwaits.com/wit/">tomwaits.com</a>
            </pre>
            <blockquote class="about-quote">
                <h4>
                    „Z radością sprzedaje ewidentnie naciągane historie, po to tylko by uatrakcyjnić opowieść lub po to
                    żeby coś dowcipnie spuentować”
                </h4>
            </blockquote>
            <pre>
Say S. Jacobs, Dzikie Lata. Muzyka i mit Toma Waitsa
            </pre>
        </div>

    </div>
    <b class="small_header" style="clear: both;">

    </b>
    <hr>
    <div class="card card col-lg-4 d-lg-block" style="padding: 0">
        <div class="card-header">
            Spis treści
        </div>
        <ul style="margin-top: 0;">
            <li>
                <a href="#start">Od czego zacząć?</a>
            </li>
            <li>
                <a href="#how">Jak to działa?</a>
            </li>
            <li>
                <a href="#working_text">Metody pracy nad tekstem</a>
            </li>
            <ol>
                <li>
                    <a href="#interpretation">Interpretacje</a>
                </li>
                <li>
                    <a href="#translation">Tłumaczenia</a>
                </li>
                <li>
                    <a href="#scrap">Oznaczanie fragmentów utworu</a>
                </li>
            </ol>
        </ul>
    </div>
    <a name="start"></a>
    <b class="small_header">
        &nbsp;Dzieciństwo i wczesna młodość
    </b>
    <blockquote>
        Istnieje na świecie pewien szczególny gatunek ludzi, których trudno wyobrazić sobie jako dzieci. Tom Waits z
        całą pewnością jest przedstawicielem tego gatunku.
    </blockquote>
    <b>&nbsp;Narodziny - wersja „oficjalna”</b>
    <p>Opis narodzin Toma Waitsa znalazł się w oficjalnej biografii artysty dołączonej do jego debiutanckiego albumu <i>Closing
        Time</i> z 1973.<br>
        Głosi on, że Tom urodził się w Los Angeles na tylnej kanapie żółtej taksówki, nieogolony, a jego pierwszymi
        słowami było „dawaj na Times Square!”.
    </p>
    <p>
        Czy to prawda? Najprawdopodobniej nie. Jego historia brzmi nieźle. Tak jak brzmieć powinna.
        <br>
        Na stałe wpisała się w postać Waitsa.
    </p>
    <b>&nbsp;Narodziny - co zatem wiemy?</b>
    <p>
        Z powodu braku źródeł, nie do końca wiadomo jaka jest prawda.
        <br>
        Hrabstwo Los Angeles zdaje się uczestniczyć w
        zmowie milczenia. Przyjmuje opłaty za udostępnienie aktu urodzenia Waitsa, nigdy nie wysyłając jego kopii.
    </p>
    <p>
        Jedyną w miarę pewną informacją jest następująca krótka notatka z "Pomona Progress-Bulletin" z 9 grudnia 1949
        roku:
    <blockquote>
        WAITS – Pan i Pani Jesse F. Waits, 318 N, Pickering Street, Whittier – syn Thomas Alan, 7 funtów 10 uncji,
        urodzony 7 grudnia w Park Avenue Hospital
    </blockquote>
    Informacja o sziptalu Park Avenue jest najpewniej błędna. Sam Waits przy okazji wielu wywiadów wspominał inny
    szpital - Murphy Hospital.
    </p>
    <b>&nbsp;Dzieciństwo</b>
    <blockquote style="margin-bottom: 0">
        „Dorastałem w kalifornijskim Whittier na ulicy o nazwie Kentucky Avenue.
    </blockquote>
    <pre>Tom Waits, koncert, Apollo Theatre Londyn, Anglia, 23 marca 1981</pre>

    <p>
        Rodzice Waitsa, Frank i Alma, byli nauczycielami. Tom miał dwie siostry. Ich wspólne dzieciństwo było pozbawione
        dramatycznych wydarzeń.
        <br>Frank był niespełnionym gitarzystą. To on zaszczepił w Tomie zamiłowanie do muzyki. Młody Waits nauczył się
        grać na pianinie w domu sąsiada, a na gitarze - od kolegi.
    </p>
    <p>
        Waits miał zgraną paczkę przyjaciół, z którymi włóczył się po okolicy. Jednym z nich był dobry przyjaciel Toma -
        jeżdżący na wózku inwalidzkim - Kipper.
    </p>
    <p>Lata później Tom Waits, w piosence <i>Kentucky Avenu</i> unieśmierteli swoje młodzieńcze środowisko. W tym
        przyjaciela Kippera.</p>
    <b>&nbsp;Młodość</b>
    <p>
        W roku 1959 rozwiedli się jego rodzice. Wraz z matką i siostrami przenieśli się do Chula Vista w Kaliforni.<br>
        Tom zafascynował się życiem ponurego przedmieścia. Wniknął w nowy świat ludzi starszych od siebie:<br>
        zawodowych bilardzistów, tancerek go-go, komiwojażerów i wszelkiej maści gangsterów.</p>
    <p>Waits był pracowitym chłopcem, imał się wielu zajęć. Rozwoził gazety, zbierał pieniądze dla <i>Independent</i>.
        Jako czternastolatek pracował na nocnej zmianie w pizzerii.
        <br>
        Klimat nocnego życia lokalu ukazał w piosence <i>The Ghost of Saturday Night</i>.</p>
    <b class="small_header">
        &nbsp;Początek kariery muzycznej
    </b>
    <blockquote style="margin-bottom: 0">
        „Wciąż śnią mi się koszmary o koncercie, na którym wszystko idzie nie tak.<br>
        Zapala się pianino. W scenę wali grom z jasnego nieba. Kurtyna się drze.<br>
        Publiczność rzuca w nas pomidorami i zgniłymi owocami. <br>Wdzierają się na scenę, a ja nie mogęsię ruszyć.”
    </blockquote>
    <pre>M. Rowland, Tom Waits is Flying Upside Down (On Purpose), „Musician”, październik 1987, s. 82-94</pre>
    <p>
        W wieku piętnastu lat, jeszcze w czasach szkolnych, Tom Waits zaczął tworzyć pierwsze teksty i występować w
        kilku klubach.<br>
        Pomimo protestów rodziców rzucił szkołę, by móc poświęcić więcej czasu na rozwój muzyczny.<br> W międzyczasie
        imał się wielu zajęć -
        był dozorcą, kucharzem, taksówkarzem, strażakiem, dostawcą, pracownikiem stacji benzynowej, sprzedawcą.
    </p>

    <b>Życie na poboczu. Beat Generation</b>
    <p>
        Tom Waits wielokrotnie podkreślał swoją fascynację <i>Beat Generation</i>. Ruch ten był jedną najważniejszych
        inspiracji twórczych dla artysty.<br>
    </p>
    <p>
        <i>Beat Generation</i> - termin ukuty przez Jacka Keruacka w 1948 jest nazwą rewolucyjnego ruchu
        kulturalno-społecznego.<br>
        Ruch ten rozwijał się od końca lat 40-tych do końca lat 50-tych.<br>
        Beatnicy - członkowie ruchu - wyróżniali się m.in. nowatorskim podejściem do poezji.<br>
        Była ona zmysłowa, dynamiczna, często oparta na strumieniu świadomości (np. „Skowyt” Allena Ginsberga), odrzucała tradycyjne zasady.<br>
        Traktowała często o ówczesnych tematach tabu: narkotykach, przestępstwach, seksie, nałogach.
        Podczas recytacji beatnicy często korzystali z tła w postaci muzyki jazzowej - ulubionego gatunku ruchu.<br>
        W procesie twórczy nie stronili od narkotyków i wszelkich innych używek.
    </p>
    <p style="margin-bottom: 0;">
        Motywy pojawiające się w poezji beatników, będą często obecne także u Waitsa:
    </p>
    <ul>
        <li>afirmacja życia na krawędzi, na marginesie,</li>
        <li>krytyka militaryzmu, konsumpcjonizmu</li>
        <li>poszukiwanie własnej artystycznej i duchowej drogi,</li>
        <li>odrzucenie materializmu i wartości klasy średniej,</li>
        <li>nieprzywiązywanie do stroju - charakterystyczny „niechlujny wygląd”</li>
    </ul>
    <p>
        Po przeczytaniu nieoficjalnej biblii beatników - „On the Road” Jacka Kerouaca, Waits zaczął coraz bardziej
        upodabniać się do przedstawicieli Beatu. Przyjmował ich filozofię oraz styl bycia.<br>
    </p>
    <p>
        Wraz z kolegą o nazwisku Sam Jones wyruszyli w podróż po Ameryce w stylu godnym samego Kerouaca.<br>
        Jeździli po kraju, upijali się, podrywali dziewczyny, używali życia.
    </p>
    <p>
        Jednak wkrótce Waits wrócił do kariery muzycznej - bogatszy o nowe doświadczenia i inspiracje.
    </p>
    <b>&nbsp;Trubadur</b>
    <p>
    Przez ponad rok Waits grywał w pomniejszych klubach, zarabiał tyle by jakoś przeżyć do następnego występu. <br>
    Spał w samochodzie. Jego kariera stała w miejscu.
    </p>
    <p>
    Z dołka wyciągnął go Herb Cohen - menedżer takich artystów jak Frank Zappa, Tim Buckley, Judy Henske i wielu innych sław.<br>
    Po wielu miesiącach prób Waitsowi udało się dostać występ w popularnym Troubadur Club. Właśnie wtedy spostrzegł go Cohen.
    </p>
    <p>
    I to był faktyczny początek Waitsa w show-biznesie.<br>
    Dla Cohena nagrał 24 utwory, z czego większość można zaliczyć do folk-rocka, bluesa, jazzu i mieszanek tych gatunków.
    </p>

    <b class="small_header">
        &nbsp;Lata w Azylu
    </b>
<p>
W 1972 Waits stał się stałym bywalcem Trubadura. Na scenie utrwalał swój wizerunek bitnika i ćmy barowej.<br>
</p>
    <p>
    Podczas jednego z występów obecny był David Graffen - łowca talentów. Był on zaangażowany przez wytwórnię Asylium/Elektra Records.<br>
    W Asylium wyrosło wielu niekonwencjonalnych, utalentowanych artystów, jak: The Doors, Iggy Pop, The Stooges i wielu innych.<br>
    </p>
    <b>&nbsp;Czas Zamykania</b>
    <blockquote style="margin-bottom: 0">
        „Waits zdecydowanie różnił się od wszystkich innych wykonawców. Odnalazł siebie w byciu bitnikiem”
    </blockquote>
    <pre>B. Hoskyns, Tom Waits: The „Mojo” Interwiev, „Mojo”, kwiecień 1999, s. 72-85</pre>
    <p>
        Pierwszym studyjnym albumem Toma Waitsa było <i>Closing Time</i> z 1973 roku. Był to jednocześnie pierwszy album nagrany dla Asylium Records.<br>
    Znajdują się na nim dopracowane wersje utworów, które Waits wykonywał wówczas na scenie. Folkowo-rockowe ballady z domieszką jazzu.<br>
    Album ten uważa się za najbardziej przystępny w twórczości Waitsa.<br>
    Jego głos nie osiągnął wówczas pełnej „chropowatości” znanej z późniejszych utworów.
    </p>
    <b>&nbsp;Historie</b>
    <p>
    Każda piosenka z <i>Closing Time</i> jest opowieścią. Tendencja ta utrzyma się na stałe w tekstach Waitsa.
    </p>
    <b>&nbsp;Niczym Charles Bukowski</b>
    <p>
    W okresie po <i>Closing Time</i> Waits zaczyna żyć zupełnie jak postaci z jego opowieści.<br>
    Codzienne wypady do barów i klubów billardowych, powroty o świcie i spanie pod samochodem.<br>
    Pomieszkujący w hotelach bardziej przypominających rudery niż ludzkie mieszkania, Tom Waits zaczął doganiać swoją legendę.
    </p>
    <b>&nbsp;Pozostałe albumy Elektra/Asylium:</b>
    <ul style="margin-top: 0">
        <li>
            <i>The Heart of Saturday Night</i> - jazzowy album, którego producentem był słynny Dayton Burr „Bones” Howe.<br> Stał się on przyjacielem Waitsa i jego wieloletnim producentem.
        </li>
        <li>
            <i>Nighthawks at the Diner</i> - nagrany w studio przy udziale publiczności. Stanowi pierwszą porażkę Waitsa.<br>
            Artystom nie udało się odpowiednio przekazać niezwykłego klimatu panującego podczas interakcji z publicznością.
        </li>
        <li>
            <i>Foreign Affairs</i> - rozwija znane z wcześniejszych albumów motywy odrzucenia, samotności i topienia smutków w szklance whiskey.<br>
            W piosence „Jack and Neal/California Here I Come” Waits składa muzyczny hoł Jackowi Keruacowi i Nealowi Cassidiemu - legendą Beatu.
        </li>
        <li>
            <i>Blue Valentine</i> - była zbiorem współczesnych miejskich blueasów.<br>
            Motywem przewodnim albumu było to, że Waits zdał sobie sprawę, że „morderstwo może ujść na sucho jeśli się śpiewa bluesa.”<br>
            Jest to pierwszy album Waitsa, na którym pojawia się gitara elektryczna.
        </li>
        <li>
            <i>Heartattack and Vine</i> - niezwykle zróżnicowany album. <br>Od otwarcie funkowego tytułowego utworu przez uczuciowe „Jersey Girl”, aż po smutną i subtelną „On the Nickel”
        </li>
    </ul>
    
    <script src="static/js/script.js" type="text/javascript"></script>
{% endblock content %}
