{% extends "portal-layout.html" %}
{% block content %}
    <h3 class="mt-2 ml-2">
        Filmografia Toma Waitsa
    </h3>
    <!-- Inner -->

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/8/8b/Paradise_alley.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://en.wikipedia.org/wiki/File:Paradise_alley.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Paradise Alley (1978)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b class="card-title">
                                Reżyseria — Sylvester Stallone
                            </b><br><br>
                        </p>
                        <button id="content-btn-1" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-1">
                            <p>
                                &nbsp;<b>
                                &nbsp;Udział Waitsa:
                            </b><br>

                                - zagrał w filmie postać Mumbelsa <br>(od ang. <em>to mumble</em> — mamrotać)
                                pianisty w lokalnym barze,<br>
                                - dwa z pięciu utwórów Waitsa stworzonych na potrzeby ścieżki dźwiękowej znalazły się w
                                filmie:
                            <ul style="margin-top: 0;">
                                <li><em>(Meet Me In) Paradise Alley</em> — piękna ballada na pianino, w której jedna z
                                    barowych ciem
                                    Waitsa rozgania troski w miejscowej knajpie.
                                </li>
                                <li><em>Annie's Back in Town</em> — smutna piosenka miłosna z nieznacznym śladem
                                    <a href="https://pl.wikipedia.org/wiki/West_Side_Story" class="grey-link">West Side
                                        Story</a>.
                                </li>

                            </ul>
                            </p>
                            &nbsp;<b>O filmie:</b>
                            <p>Film jest debiutem reżyserskim Stallone'a. Opowiada o twardym życiu we włoskiej
                                dzielnicy.
                                Spotkał się ze zjadliwą krytyką i zarobił całkowitą klapę.</p>
                            &nbsp;<b>Pierwsze kroki</b>
                            <p> Dla Waitsa nie był jednak porażką.
                                Dzięki temu projektowi spróbował aktorstwa i bardzo mu się to spodobało</p>
                        </div>
                        <a href="https://en.wikipedia.org/wiki/Paradise_Alley"
                           class="btn btn-primary-dark btn-movie-link">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-lg-block">
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/7/7d/One_from_the_Heart_poster.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://en.wikipedia.org/wiki/File:One_from_the_Heart_poster.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Ten od serca (1982)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Reżyseria — Francis Ford Coppola
                            </b><br><br>
                        </p>
                        <button id="content-btn-2" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-2">
                            <p>
                                &nbsp;<b>
                                &nbsp;Udział Waitsa:
                            </b><br>
                                - stworzył całą ścieżkę dźwiękową do filmu.<br>
                                Waits pracował nad muzyką do filmu przez niemal 2 lata,
                                <br>
                                - zagrał epizodyczną rolę ulicznego grajka.
                            <p></p>
                            </p>
                            &nbsp;<b>O filmie:</b>
                            <p><em>Ten od serca</em> jest romantyczną błahostką. Opowiada o parze, której związek już
                                mocno
                                spowszedniał. Postanawiają zaszaleć i oboje rzucają się w ramiona kochanków.</p>
                            <p>Poprzednim filmem Coppoli był <em>Czas Apokalipsy</em>. Projekt trudny i wymagający. Po
                                otrząśnięciu się z
                                udręki tworzenia tak złożonego dzieła reżyser postanowił stworzyć coś lżejszego. Coś co
                                dobrze się sprzeda i
                                pozwoli uzupełnić budżet wytwórni po kosztownym
                                i mało dochodowym <em>Czasie Apokalipsy</em></p>
                            &nbsp;<b>Oscar dla Toma Waitsa?</b>
                            <p>
                                Za muzykę do <em>Tego od serca</em> Waits znalazł się wśród nominowanych do Oscara w
                                1982
                                roku.
                                Przegrał jednak
                                ze ścieżką do <em>Victor/Victoria</em>.
                            </p>
                        </div>
                        <a href="https://pl.wikipedia.org/wiki/Ten_od_serca"
                           class="btn btn-movie-link btn-primary-dark">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-lg-block">
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/a/a0/Wolfen_1981.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło - https://en.wikipedia.org/wiki/File:Wolfen_1981.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">The Wolfen (1981)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Reżyseria — Michael Wadleigh
                            </b><br><br>
                        </p>
                        <button id="content-btn-3" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-3">
                            <p>
                                <b>
                                    &nbsp;Udział Waitsa:
                                </b><br>
                                - epizodyczna postać zapijaczonego, nerwowego pianisty.
                            </p>
                            <b>&nbsp;O filmie:</b>
                            <p><em>The Wolfen </em>(<em>Wilkołaki</em>) jest wysokobudżetowym horrorem,
                                którego akcja dzieje się w zaniedbanej dzielnicy Nowego Jorku.
                            </p>
                        </div>
                        <a href="https://en.wikipedia.org/wiki/Wolfen_(film)"
                           class="btn btn-movie-link btn-primary-dark">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-lg-block">
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/0/0b/Cotton_club.jpg"
                            class="card-img-top"
                            alt="..."/>
                    <pre>
Źródło - https://en.wikipedia.org/wiki/File:Cotton_club.jpg</pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">The Cotton Club (1984)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Reżyseria — Francis Ford Coppola
                            </b><br><br>
                        </p>
                        <button id="content-btn-4" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-4">
                            <p>
                                <b>
                                    &nbsp;Udział Waitsa:
                                </b><br>
                                — epizodyczna rola Irvinga Starka — eleganckiego menedżera klubu.
                            </p>
                            <b>&nbsp;O filmie:</b>
                            <p><em>The Cotton Club</em> jest dramatem, którego akcja rozgrywa się w Harlemie lat
                                30—tych.
                                Centralnym punktem
                                akcji jest legendarny <em>Cotton Club</em> — miejsce gdzie czarnoskórzy artyści mogą się
                                zaprezentować na scenie.
                                W tym obrazie wszechobecny jazz przeplata się z gangnsterskim życiem. Główny bohater —
                                trębacz w
                                kapelach jazzowych — ratuje życie
                                mafiozowi. Wplątuje go to w historię kryminalną i cały szereg kłopotów.
                            </p>
                            &nbsp;<b>Pomiędzy rasizmem a muzyką</b>
                            <p>
                                Sam Irving Stark — postać grana przez Waitsa — jest menedżerem tytułowego klubu.
                                Do zadań Irvinga należy zatrudnianie artystów — w większości czarnych muzyków.
                                <br>
                                Bohater bardzo docenia umiejętności swoich pracowników. Rozumie i docenia ich pasję.
                                Reprezentuje jednak ewidntnie interesy właścicieli klubu, do którego, przynejmniej
                                początkowo,
                                wstęp mają jedynie biali goście.
                                <br>
                                Waitsowski Irving, choć pewny siebie i wyglądający na
                                człowieka
                                sukcesu, zostaje rozdarty. Sytuuje się między działaniem dwóch sprzecznych dla owych
                                czasów sił.
                                Pierwszą z nich był zachwyt nad talentem i umiejętnościami czarnych wykonawców,
                                drugą — wciąż żywy i wręcz oficjalny rasizm.
                            </p>
                        </div>
                        <a href="https://pl.wikipedia.org/wiki/Cotton_Club_(film)"
                           class="btn btn-movie-link btn-primary-dark">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 d-lg-block">
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/0/0d/Down_by_Law_%281986_film%29_poster.jpg"
                            class="card-img-top"
                            alt="..."
                    />
                    <pre>
Źródło — https://en.wikipedia.org/wiki/File:Down_by_Law_(1986_film)_poster.jpg
                    </pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Poza prawem (1981)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Reżyseria — Jim Jarmusch
                            </b><br><br>
                        </p>
                        <button id="content-btn-5" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-5">
                            <p>
                                <b>
                                    &nbsp;Udział Waitsa:
                                </b><br>
                                - epizodyczna postać zapijaczonego, nerwowego pianisty,
                                <br>
                                - w filmie wykorzystano dwie piosenki Toma Waitsa z albumu Rain Dogs:
                            <ul style="margin-top: 0;">
                                <li>
                                    <em>Jockey Full of Bourbon</em>
                                </li>
                                <li>
                                    <em>Tango Till They're Sore</em>
                                </li>
                            </ul>
                            </p>
                            <b>&nbsp;O filmie:</b>
                            <p style="margin-bottom: 0;"><em>Poza prawem </em>(ang. <em>Down by Law</em>) jest
                                wypowiedzią Jarmuscha na temat
                                przestępczości.
                                W więziennej celi spotyka się trzech ludzi, z których każdy jest jednocześnie winny i
                                niewinny zarazem.
                                <br>Każdemu z tej trójki szczęście wyjątkowo niedopisało:
                            <ul style="margin-top: 0;">
                                <li>
                                    Jack (John Lurie) — Drobny alfons. Został wrobiony w stręczycielstwo nieletniej
                                    przez
                                    kolegę po fachu.
                                </li>
                                <li>
                                    Zack (Tom Waits) — bezrobotny didżej radiowy. Daje się namówić znajomemu na
                                    podejrzany
                                    interes.
                                    Kiedy zatrzymuje go policja, znajduje w jego bagażniku zwłoki.
                                </li>
                                <li>
                                    Roberto (Roberto Bengini) — energiczny i sympatyczny Włoch. Do celi trafił za
                                    zabójstwo.
                                    Utrzymuje,
                                    że zabójstwa dokonał kulą bilardową. Uciekając przed przed zemstą oszukanych
                                    współgraczy
                                    — trafił jednego z nich w głowę.
                                    <br>
                                    Od początku jest najbardziej rozmowny z całej trójki (pomimo minimalnej znajomości
                                    angielskiego).
                                    Jest autorem planu ucieczki z więzienia.
                                </li>
                            </ul>
                            </p>
                            <b>Niejednoznaczność zbrodni</b>
                            <p>
                                <em>Poza prawem</em> stanowi prawdopodobnie najciekawszą wypowiedź filmową na temat
                                prawa i
                                przestępczości, w której
                                udział wziął Tom Waits. Postaci nie są typowymi przestępcami. Wpadają nieoczekiwanie w
                                ciąg
                                perypetii rozwijających się niezależnie od ich intencji.
                            </p>
                            <div>
                                Jan Malec w swojej książce <em>Przestępcość — to ciekawe zjawisko. Kryminologia
                                nieelitarna</em> przywołuje
                                słowa jednego z proesorów prawa, który tak rozpoczynał swoje wykłady:
                                <blockquote>Będę opowiadał wam o kodeksie karnym, czyli książce dla pechowców.
                                    Przestępcą
                                    bowiem nie jest ten kto
                                    popełnił przestępstwo, ale ten kogo na tym złapano. Natomiast łapie się niewielu.
                                </blockquote>
                            </div>
                        </div>
                        <a href="https://pl.wikipedia.org/wiki/Poza_prawem_(film_1986)"
                           class="btn btn-movie-link btn-primary-dark">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-lg-block">
                <div class="card">
                    <img
                            src="https://upload.wikimedia.org/wikipedia/en/7/74/Shortcutsfilm.jpg"
                            class="card-img-top"
                            alt="..."/>
                    <pre>
Źródło - https://en.wikipedia.org/wiki/File:Shortcutsfilm.jpg</pre>
                    <div class="card-body">
                        <h5 style="margin-bottom: 0;" class="card-title">Na skróty (1993)</h5>
                        <p class="card-text movie-card-text" style="margin: 0;">
                            <b>
                                Reżyseria — Robert Altman
                            </b><br><br>
                        </p>
                        <button id="content-btn-6" class="btn btn-primary-dark btn-expand">Rozwiń</button>
                        <div class="movie-content" id="movie-content-6">
                            <p>
                                <b>
                                    &nbsp;Udział Waitsa:
                                </b><br>
                                — wcielił się w postać Earla Piggota, kierowcę limuzyn mającego problemy z alkoholem.
                            </p>
                            <b>&nbsp;O filmie:</b>
                            <p><em>Na skróty</em>(ang. <em>Short Cuts</em>) film zrealizowano na podstawie opowiadań
                                Raymonda Carvera.
                                <br>
                                Film nie posiada tradycyjnej fabuły. W zasadzie nie posiada też mocniej zaznaczonego
                                poczatku i finału.
                                Fabuła została za to zamknięta w intrygującą klamrę. Zarówno początek i koniec dzieła
                                mają
                                zabarwienie "apokaliptyczne". Pierwsza scena przedstawia inwazję gigantycznych owadów, a
                                jedna z
                                ostatnich - trzęsienie ziemi.
                            </p>
                            <b>(Nie)zwykłe historie</b>
                            <p>
                                Akcja w <em>Na skróty</em> została podzielona na wiele pomniejszych historii. A tych
                                jest w filmie sporo.
                                Losy ich bohaterów nieustannie przeplatają się ze sobą na różne sposoby. Widz obserwując
                                dany wątek, znajduje
                                się jednocześnie pomiędzy dwoma innymi.
                            </p>
                            <p>
                                Każda opowieść stanowi obrazek z życia zwykłych ludzi. Jest celną obyczajową miniaturą.
                                Podobnie jak piosenki Waitsa.
                            </p>
                            <b>Wśród gwiazd</b>
                            <div>
                                Na planie <em>Na skróty</em> Waits miał okazję pracować obok takich sław jak, m.in.:
                                <ul style="margin-top: 0;">
                                    <li>
                                        Robert Downey Jr.,
                                    </li>
                                    <li>
                                        Jack Lemmon,
                                    </li>
                                    <li>
                                        Julianne Moore,
                                    </li>
                                    <li>
                                        Andie MacDowell,
                                    </li>
                                    <li>
                                        Tim Robbins,
                                    </li>
                                    <li>
                                        Jennifer Jason Leigh.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="https://pl.wikipedia.org/wiki/Cotton_Club_(film)"
                           class="btn btn-movie-link btn-primary-dark">Dowiedz się więcej o filmie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".btn-expand").click(function () {
            id = $(this).attr("id");
            number = id.split("-")[id.split("-").length - 1];

            $("#movie-content-" + number).toggle();
            if ($(this).text() == "Zwiń") {
                $(this).text("Rozwiń")
            } else {
                $(this).text("Zwiń")
            }
        });
    </script>
{% endblock content %}
