{% extends "portal-layout.html" %}
{% block content %}
    <div class="track-nav mt-2">
         <a href="{{ url_for("main.track", track_id=track.id) }}"
           class="btn btn-outline-primary-dark responsive-full mb-2">
            O utworze
        </a>
        <a href="{{ url_for("main.scraps", track_id=track.id) }}"
           class="btn btn-outline-primary-dark responsive-full mb-2">
            Fragmenty
        </a>
        <a href="{{ url_for("main.interpretations", track_id=track.id) }}"
           class="btn btn-outline-primary-dark responsive-full mb-2">

            Interpretacje
        </a>
        <a href="{{ url_for("main.translations", track_id=track.id) }}"
           class="btn btn-primary-dark responsive-full mb-2">

            Tłumaczenia
        </a>
    </div>
    <article class="media content-section">

        <div class="track-article">

            <h2 class="article-title">{{ track.title }}</h2>

            <div class="lyrics-interpretation-text lyrics-border-right responsive-full">
                {{ tags }}
            </div>
            <div class="mb-3 lyrics-interpretations responsive-full">
                <h3>Sugerowane tłumaczenia:</h3>
                {% for post in translations %}
                    <article>
                            <div>
                                <h3>
                                    <a class="mr-2 grey-link"
                                       href="{{ url_for("main.translation",track_id=track.id, translation_id=post.id) }}">
                                        {{ post.title }}
                                    </a>
                                </h3>
                            </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </article>
    <a href="{{ url_for('main.tracks') }}" class="btn btn-primary-dark text-white responsive-full mb-2">Lista utworów</a>
{% endblock content %}