{% extends "portal-layout.html" %}
{% block content %}
    <h3 class="mt-2 ml-2">
        Albumy Toma Waitsa
    </h3>

    <div class="card">
        <div class="card-body">
            <ul style="list-style-type: none;">
                {% for album in albums %}
                    <li class="mb-1">
                        <a href="{{ url_for("main.album", album_id=album.id) }}" class="grey-link title-in-list">
                        <img class="album_cover" width="150px" src="{{ url_for('static', filename='album_covers/' + album.image_file) }}">
                            {{ album.title }}

                            ({{ album.date_release }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div>
        <a href="{{ url_for("main.home") }}"
           class="btn btn-primary-dark text-white responsive-full responsive-marg-6">Powrót
        </a>
    </div>

{% endblock content %}