{% extends "forum-layout.html" %}
{% block content %}
    <h3>
        Regulamin
    </h3>

    <p>§ 1. WSTĘP</p>
    <b class="pl-2">1. Forum jest częścią Serwisu Tom Waits. Zrozumieć poezję.</b><br>

    <b class="pl-2">2. Możliwość przeglądania zawartości części dyskusyjnej Forum przysługuje wszystkim Użytkownikom.
        Użytkownikom Zarejestrowanym przysługuje dodatkowo:</b>
    <ul>
        <li>możliwość zamieszczania postów,</li>
        <li>dostęp do części Forum dotyczącej utworów.</li>
    </ul>
    <p>§ 2. ZASADY KORZYSTANIA Z FORUM</p>
    <b style="display: block" class="pl-2">1. Zakładając wątek, dopisując się do istniejącego wątku i publikując treści
        w sekcji utworów, Użytkownik jest
        zobowiązany do przestrzegania poniższych zasad:</b>
    <div>
        a) nie wolno publikować postów naruszających polskie prawo, ułatwiających jego łamanie lub zachęcających do
        takiego
        działania;<br>
        b) nie wolno obrażać i poniżać w jakiejkolwiek formie innych Użytkowników Forum, czyli publikować postów
        oszczerczych i napastliwych, naruszających dobra
        osobiste lub wolność obywatelską, propagujących, popierających i/lub głoszących nietolerancję, ksenofobię,
        przemoc,
        nienawiść czy dyskryminację na tle rasy, wyznania, orientacji seksualnej, płci itp.;<br>
        c) nie wolno prowokować innych Użytkowników w celu świadomego wywołania negatywnej reakcji (tzw.
        trollowanie);<br>
        d) nie wolno publikować na Forum powtarzających się informacji (tzw. spamowanie);<br>
        e) nie wolno promować usług firm trzecich oraz własnych kanałów wideo poza kategorią „ogłoszenia”;<br>
        f) nie wolno publikować ilustracji i tekstów obscenicznych, o treści pornograficznej ani podawać linków do
        takich
        materiałów;<br>
        g) nie wolno zakładać wielu kont w celu ominięcia Regulaminu Forum. W takiej sytuacji konsekwencje może ponieść
        główne konto Użytkownika;<br>
        h) zabrania się nieuzasadnionych, niemerytorycznych i niekulturalnych ataków na autorów tekstów serwisu na sam
        serwis i jego treści.<br>
    </div>

    <b style="display: block" class="pl-2">2. Użytkownik Forum jest zobowiązany do:</b>
    <div>
        a) dbania o poprawność językową, unikania wulgaryzmów<br>
        c) trzymania się tematu dyskusji w przypadku dołączenia do istniejącego wątku;<br>
        d) formułowania tytułów wątków w sposób zrozumiały dla ogółu Użytkowników Forum oraz odpowiadający zamierzonej
        treści wątku;
    </div>

    <b style="display: block" class="pl-2">3. Użytkownik ma możliwość:</b>
    <div class="mb-3">
        a) edycji własnych postów;<br>
        b) edycji własnych treści zamieszczanych w sekcji utwor utworów;<br>
        c) usuwania własnych postów - jeśli dyskusja pod nimi jeszcze się nie rozpoczęła;<br>
        d) usuwania treści zamieszczanych przez siebie w sekcji utowrów - jeśli dyskusja pod nimi jesczcze się nie
        rozpoczęła;<br>
        e) przyznawania plusów lub w minusów treściom zamieszczanym przez innych Użytkowników w sekcji utworów;
    </div>

    <p>
        § 4. SANKCJE I UPRAWNIENIA ADMINISTRATORA
    </p>
    <div>
        a) Administrator sprawuje władzę na Forum i należy się stosować bezwarunkowo i bezdyskusyjnie do jego
        poleceń;<br>
        b) Administrator Forum mooże, bez tłumaczenia się i bez ostrzeżenia usuwać posty,
        wątki, komentarze;<br>
        c) Administrator Forum mooże, publikować prace Użytkowników Forum. Stają się one wtedy widoczne na Portalu - ogólnodostępnej części serwisu;<br>
    </div>
{% endblock content %}
