{% extends "forum-layout.html" %}
{% block content %}
    {% for page_num in tracks.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if tracks.page == page_num %}
                <a class="btn btn-dark mt-2 mb-2"
                   href="{{ url_for("user_activity.tracks", strona=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-dark mt-2 mb-2"
                   href="{{ url_for("user_activity.tracks", strona=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}

    {% endfor %}
    <div class="card">
        <div class="card-header">
            Utwory
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-primary">
                <tr>
                    <th scope="col">Dodano</th>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Albumy</th>

                    <th scope="col" class="hide-mobile">Odpowiedzi</th>
                    <th scope="col" class="hide-mobile">Odsłony</th>
                    <th scope="col" class="hide-mobile">Ostatnia aktualizacja</th>
                </tr>
                </thead>
                <tbody>
                {% for track in tracks.items %}
                    <tr>
                        <td>{{ track.date_posted.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>
                            <a class="mr-2 grey-link"
                               href="{{ url_for("user_activity.user_actions", username=track.author.username) }}">{{ track.author.username }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('user_activity.track', track_id=track.id) }}" class="grey-link">
                                {{ track.title }}
                            </a>
                        </td>
                        <td>
                            {% for album in track.albums %}
                                {% if loop.index < track.albums|length %}
                                    {{ album.title }},
                                {% else %}
                                    {{ album.title }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="hide-mobile">odpowiedzi</td>
                        <td class="hide-mobile">odsłony</td>
                        <td class="hide-mobile">{{ track.date_last_update.strftime('%Y-%m-%d %H:%M') }}</td>

                    </tr>
                {% endfor %}


                </tbody>
            </table>

            <a href="{{ url_for("user_activity.new_track") }}" class="btn bg-dark text-white responsive-full mt-2">
                <svg xmlns="url_for('static', filename='/images/plus-circle.svg/')" width="20" height="20"
                     fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Dodaj nowy utwór
            </a>
            <a href="{{ url_for("main.forum") }}" class="btn bg-dark text-white responsive-full responsive-marg-6 mt-2">Powrót</a>
        </div>
    </div>
    {% for page_num in tracks.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if tracks.page == page_num %}
                <a class="btn btn-dark mt-2 mb-4"
                   href="{{ url_for("user_activity.tracks", strona=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-dark mt-2 mb-4"
                   href="{{ url_for("user_activity.tracks", strona=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}

    {% endfor %}
{% endblock content %}